build/
out/
target/
venv/
.idea
Thumbs.db
.DS_Store
.gradle
.fleet
*.iml
*.ipr
*.iws
.project
.settings
.classpath
*.code-workspace
__pycache__/
*.py[cod]
*$py.class
node_modules/
/tests/test-results/
/tests/playwright-report/
/tests/dist/
/playwright/.cache/
.tool-versions
