spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/odd
    username: odd
    password: odd_password
  jooq:
    sql-dialect: postgres
  codec:
    max-in-memory-size: 20MB
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri:
#      client:
#        registration:
#          cognito:
#            client-id:
#            client-secret:
#            scope:
#            redirect-uri:
#            client-name:
#        provider:
#          cognito:
#            issuerUri:
#            user-name-attribute:

cognito:
  logoutUrl: https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_SLj42PGZ4/logout

auth:
  # DISABLED, LOGIN_FORM, OAUTH2
  type: DISABLED

  # For dev/demo purposes only -- username1:password1,username2:password2,etc
  login-form-credentials: admin:admin,root:root

  # For dev purposes only -- successful auth redirect URI
  login-form-redirect:

management:
  endpoints:
    enabled: false
    web:
      base-path: /
  info:
    enabled: true
  health:
    enabled: true

logging:
  level:
    org:
      springframework:
        transaction:
          interceptor: trace
      jooq:
        tools:
          LoggerListener: debug
