spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/odd-platform
    username: odd-platform
    password: odd-platform-password
  jooq:
    sql-dialect: postgres
  codec:
    max-in-memory-size: 20MB
#  ldap:
#    urls:
#    dn:
#      pattern:
#    user-filter:
#      search-base:
#      filter:
#    groups:
#      search-base:
#      filter:
#      admin-groups:
#    active-directory:
#      enabled: false
#      domain:
#  redis:
#    host: localhost
#    port: 6379
#    username:
#    password:
#    database: 0
#  security:
#    oauth2:
#      client:
#        registration:
#          cognito:
#            client-id:
#            client-secret:
#            scope:
#              - openid
#            redirect-uri:
#            client-name: 'Cognito'
#          github:
#            client-id:
#            client-secret:
#            scope:
#              - user:read
#              - read:org
#          google:
#            client-id:
#            client-secret:
#            scope:
#              - openid
#              - profile
#              - email
#        provider:
#          cognito:
#            issuerUri:
#            logoutUri:
#            user-name-attribute: 'username'
#            admin-principals:
#            admin-groups:
#          github:
#            user-name-attribute: 'login'
#            organization-name:
#            admin-principals:
#            admin-teams:
#          google:
#            user-name-attribute:
#            admin-principals:
#            allowed-domain:

session:
  # INTERNAL_POSTGRESQL, REDIS, IN_MEMORY
  provider: IN_MEMORY

auth:
  # DISABLED, LOGIN_FORM, OAUTH2, LDAP
  type: DISABLED

  # For dev/demo purposes only -- username1:password1,username2:password2,etc
  login-form-credentials: admin:admin,root:root

  # For dev purposes only -- successful auth redirect URI
  login-form-redirect:
  ingestion:
    filter:
      enabled: false

metrics:
  export:
    enabled: false
    otlp-endpoint: http://localhost:4317

notifications:
  enabled: false
  message:
    downstream-entities-depth: 1
  wal:
    advisory-lock-id: 100
    replication-slot-name: odd_platform_replication_slot
    publication-name: odd_platform_publication_alert
#  receivers:
#    slack:
#      url:
#      platform-base-url:
#    webhook:
#      url:

management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: health, prometheus, env, info
  endpoint:
    health:
      enabled: true
    prometheus:
      enabled: true
    env:
      enabled: true
    info:
      enabled: true
  health:
    ldap:
      enabled: false
    redis:
      enabled: false

logging:
  level:
    org.springframework.transaction.interceptor: info
    org.jooq.tools.LoggerListener: info
    io.r2dbc.postgresql.QUERY: info
    io.r2dbc.postgresql.PARAM: info
    org.opendatadiscovery.oddplatform.notification: info

odd:
  activity:
    partition-period: 30

