spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/odd-platform
    username: odd-platform
    password: odd-platform-password
  jooq:
    sql-dialect: postgres
  codec:
    max-in-memory-size: 20MB
  ldap:
    urls: ""
    dn:
      pattern: ""
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri:
#      client:
#        registration:
#          cognito:
#            client-id:
#            client-secret:
#            scope:
#            redirect-uri:
#            client-name:
#        provider:
#          cognito:
#            issuerUri:
#            user-name-attribute:

cognito:
  enabled: false
  logoutUrl:

auth:
  # DISABLED, LOGIN_FORM, OAUTH2
  type: DISABLED

  # For dev/demo purposes only -- username1:password1,username2:password2,etc
  login-form-credentials: admin:admin,root:root

  # For dev purposes only -- successful auth redirect URI
  login-form-redirect:

metrics:
  export:
    enabled: false
    otlp-endpoint: http://localhost:4317

management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: health, prometheus, env, info
  endpoint:
    health:
      enabled: true
    prometheus:
      enabled: true
    env:
      enabled: true
    info:
      enabled: true

logging:
  level:
    org:
      springframework:
        transaction:
          interceptor: info
      jooq:
        tools:
          LoggerListener: info
