name: Release Build
on:
  release:
    types: [published]

  workflow_dispatch:
    inputs:
      rebuild:
        description: 'A tag name for building previously created release'
        required: false
        default: '0.0.0'
      buildOptions:
        description: 'Additional options for Gradle build command'
        required: false
        default: ''

jobs:
  release:
    runs-on: self-hosted
    outputs:
      version: ${{steps.get-version.outputs.version}}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Check version
        id: get-version
        run: |
          if [[ "${{ github.event.action }}" == "published" ]]
            then
              VERSION="${{ github.event.release.tag_name }}"
            else
              LATEST=`git tag -l --sort=creatordate | tail -1`
              VERSION=`echo ${LATEST} | awk -F. '{$NF = $NF + 1;} 1' | sed 's/ /./g'`-${{ github.sha }}
          fi
          if [[ -n "${{ github.event.inputs.buildOptions }}" ]]
            then
              VERSION="${{ github.event.inputs.buildOptions }}"
          fi
          echo ::set-output name=version::${VERSION}
      - name: Cache local node_modules
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-platform-${{ hashFiles('**/build.gradle') }}
          restore-keys: |
            ${{ runner.os }}-platform-
      - name: Set up JDK 13
        uses: actions/setup-java@v2
        with:
          java-version: '13'
          distribution: 'adopt'
      - name: Build with Gradle
        env:
          NODE_ENV: production
          GENERATE_SOURCEMAP: false
          CI: false
          JAVA_OPTS: "-Xms2048m -Xmx2048m"
        run: ./gradlew clean jibDockerBuild ${{ github.event.inputs.buildOptions }} --no-daemon --image odd-platform -PoddGHPRepositoryUsername=github-actions -PoddGHPRepositoryPassword=${{ secrets.GITHUB_TOKEN }} -Pversion=${{ steps.get-version.outputs.version }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Retag image in GHCR
        if: ${{ github.event.action == 'published' }}
        run: |
          docker tag odd-platform:${{ steps.get-version.outputs.version }} ghcr.io/opendatadiscovery/odd-platform:${{ steps.get-version.outputs.version }}
          docker push ghcr.io/opendatadiscovery/odd-platform:${{ steps.get-version.outputs.version }}
