name: PR build
on:
  workflow_dispatch:
  pull_request:
    types: [ 'opened', 'edited', 'reopened', 'synchronize' ]

permissions:
  checks: write
  pull-requests: write

jobs:
  run_playwright_tests:
    uses: ./.github/workflows/run-playwright-tests.yml
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cache local Gradle dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Cache local npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Build and run tests
        env:
          GENERATE_SOURCEMAP: false
          CI: false
        run: ./gradlew build ${{ github.event.inputs.buildOptions }} --no-daemon --scan
      - name: Publish test reports
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: "odd-platform-api/build/test-results/**/*.xml"
          check_name: Test Results
          comment_mode: create new
